@page
@model Adoptex.Pages.DoAdopcji.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Lista Zwierząt</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-info">
                <i class="fas fa-plus"></i>&nbsp; Dodaj
            </a>

        </div>
    </div>
    <br />

    <div>
        @if (Model.Animal_info.Count == 0)
        {
            <p>Brak zwierząt. Możesz dodać nowe.</p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Animal_info[0].Imie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Animal_info[0].Wiek)
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model.Animal_info)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Imie)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Wiek)
                        </td>
                        <td style="width: 150px;">
                            <div class="btn btn-group" role="group">
                                <a class="btn btn-success text-white" asp-page="Details" asp-route-Id="@item.Id">
                                    <i class="fas fa-list-alt"></i>
                                </a>

                                <a class="btn btn-primary text-white" asp-page="Edit" asp-route-Id="@item.Id">
                                    <i class="fas fa-user-edit"></i>
                                </a>

                                <a class="btn btn-danger text-white" asp-page="Delete" asp-route-Id="@item.Id">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

</div>

